.strong Sort
%select.select-2{name: 'order'}
  - @sorting_options.each do |key, sort_option|
    %option{value: "#{sort_option[:field]} ASC", selected: (params[:order] == "#{sort_option[:field]} ASC")}
      = sort_option[:description][:asc]
    %option{value: "#{sort_option[:field]} DESC", selected: (params[:order] == "#{sort_option[:field]} DESC")}
      = sort_option[:description][:desc]