%select.collate_sort{opts}
  - if opts[:allow_none]
    %option{value: "", selected: (params[:order].to_s == "")}
      None
  - sorters.each do |sorter|
    %option{value: "#{sorter.field} ASC", selected: (params[:order] == "#{sorter.field} ASC")}
      = sorter.asc_label
    %option{value: "#{sorter.field} DESC", selected: (params[:order] == "#{sorter.field} DESC")}
      = sorter.desc_label